<p>examenclinico works!</p>

<h2>Exámen Clinico</h2>

<div class="row g-4">


    <div class="col-md-3">
        <label for="validationCustom04" class="mb-0">Respiratoria<nav>
            </nav></label>
        <input type="text" class="form-control" id="respiratoria" required [(ngModel)]="respiratoria"
            name="respiratoria">
        <div class="invalid-feedback">
            Respiratoria.
        </div>
    </div>

    <div class="col-md-3">
        <label for="validationCustom04" class="mb-0">Cardiaca<nav>
            </nav></label>
        <input type="text" class="form-control" id="cardiaca" required [(ngModel)]="cardiaca" name="cardiaca">
        <div class="invalid-feedback">
            Cardiaca.
        </div>
    </div>

    <div class="col-md-3">
        <label for="validationCustom04" class="mb-0">Temperatura<nav>
            </nav></label>
        <input type="text" class="form-control" id="temperatura" required [(ngModel)]="temperatura" name="temperatura">
        <div class="invalid-feedback">
            Cardiaca.
        </div>
    </div>

    <div class="col-md-3">
        <label for="validationCustom04" class="mb-0">Pulso<nav>
            </nav></label>
        <input type="text" class="form-control" id="pulso" required [(ngModel)]="pulso" name="pulso">
        <div class="invalid-feedback">
            Cardiaca.
        </div>
    </div>

    <div class="col-md-3">
        <label for="validationCustom04" class="mb-0">Tiempo llenado capilar<nav>
            </nav></label>
        <input type="text" class="form-control" id="llenadoCapilar" required [(ngModel)]="llenadoCapilar"
            name="llenadoCapilar">
        <div class="invalid-feedback">
            Cardiaca.
        </div>
    </div>

    <div class="col-md-3">
        <label for="validationCustom04" class="mb-0">Ganglios linfáticos<nav>
            </nav></label>
        <input type="text" class="form-control" id="gangliosLinfaticos" required [(ngModel)]="gangliosLinfaticos"
            name="gangliosLinfaticos">
        <div class="invalid-feedback">
            Cardiaca.
        </div>
    </div>


    <div class="col-md-3">
        <label for="validationCustom04" class="mb-0">Mucosas<nav>
            </nav></label>
        <input type="text" class="form-control" id="mucosas" required [(ngModel)]="mucosas" name="mucosas">
        <div class="invalid-feedback">
            Cardiaca.
        </div>
    </div>

    <div class="col-md-3">
        <label for="validationCustom04" class="mb-0">Actitud y temperamento<nav>
            </nav></label>




        <input type="radio" id="actitudTemperamento" required [(ngModel)]="mucosas" name="mucosas">
        Letargico
        <input type="radio" id="actitudTemperamento" required [(ngModel)]="mucosas" name="mucosas">
        Estuporoso
        <input type="radio" id="actitudTemperamento" required [(ngModel)]="mucosas" name="mucosas">
        Comatoso
        <input type="radio" id="actitudTemperamento" required [(ngModel)]="mucosas" name="mucosas">
        Alerta
        <input type="radio" id="actitudTemperamento" required [(ngModel)]="mucosas" name="mucosas">
        Otro

        <div class="invalid-feedback">
            Cardiaca.
        </div>
    </div>




     11. S. Cardiovascular
     12. S. Genitourinario


    <div class="col-md-3">
        <label for="validationCustom04" class="mb-0">Actitud y temperamento<nav>
            </nav></label>
        <select id="Sistema Digestivo" required [(ngModel)]="mucosas" name="mucosas">
            <option>
                Normal
            </option>
            <option>
                Anormal
            </option>
            <option>
                No examinado
            </option>
        </select>
    </div>

    <div class="col-md-3">
        <label for="validationCustom04" class="mb-0">Estado de Hidratación <nav>
            </nav></label>
        <select id="Sistema Digestivo" required [(ngModel)]="mucosas" name="mucosas">
            <option>
                Normal
            </option>
            <option>
                Anormal
            </option>
            <option>
                No examinado
            </option>
        </select>
    </div>


    <div class="col-md-3">
        <label for="validationCustom04" class="mb-0"> Estado general y Condición Corporal <nav>
            </nav></label>
        <select id="Sistema Digestivo" required [(ngModel)]="mucosas" name="mucosas">
            <option>
                Normal
            </option>
            <option>
                Anormal
            </option>
            <option>
                No examinado
            </option>
        </select>
    </div>

    <div class="col-md-3">
        <label for="validationCustom04" class="mb-0"> Sistema Tegumentario <nav>
            </nav></label>
        <select id="Sistema Digestivo" required [(ngModel)]="mucosas" name="mucosas">
            <option>
                Normal
            </option>
            <option>
                Anormal
            </option>
            <option>
                No examinado
            </option>
        </select>
    </div>


    <div class="col-md-3">
        <label for="validationCustom04" class="mb-0"> Ojos <nav>
            </nav></label>
        <select id="Sistema Digestivo" required [(ngModel)]="mucosas" name="mucosas">
            <option>
                Normal
            </option>
            <option>
                Anormal
            </option>
            <option>
                No examinado
            </option>
        </select>
    </div>

    <div class="col-md-3">
        <label for="validationCustom04" class="mb-0"> Oidos <nav>
            </nav></label>
        <select id="Sistema Digestivo" required [(ngModel)]="mucosas" name="mucosas">
            <option>
                Normal
            </option>
            <option>
                Anormal
            </option>
            <option>
                No examinado
            </option>
        </select>
    </div>


    <div class="col-md-3">
        <label for="validationCustom04" class="mb-0"> Nariz <nav>
            </nav></label>
        <select id="Sistema Digestivo" required [(ngModel)]="mucosas" name="mucosas">
            <option>
                Normal
            </option>
            <option>
                Anormal
            </option>
            <option>
                No examinado
            </option>
        </select>
    </div>

    <div class="col-md-3">
        <label for="validationCustom04" class="mb-0"> Sistema Digestivo <nav>
            </nav></label>
        <select id="Sistema Digestivo" required [(ngModel)]="mucosas" name="mucosas">
            <option>
                Normal
            </option>
            <option>
                Anormal
            </option>
            <option>
                No examinado
            </option>
        </select>
    </div>

    <div class="col-md-3">
        <label for="validationCustom04" class="mb-0"> Sistema Respiratorio <nav>
            </nav></label>
        <select id="Sistema Digestivo" required [(ngModel)]="mucosas" name="mucosas">
            <option>
                Normal
            </option>
            <option>
                Anormal
            </option>
            <option>
                No examinado
            </option>
        </select>
    </div>



    <div class="col-md-3">
        <label for="validationCustom04" class="mb-0"> Sistema Cardiovascular <nav>
            </nav></label>
        <select id="Sistema Digestivo" required [(ngModel)]="mucosas" name="mucosas">
            <option>
                Normal
            </option>
            <option>
                Anormal
            </option>
            <option>
                No examinado
            </option>
        </select>
    </div>



    <div class="col-md-3">
        <label for="validationCustom04" class="mb-0"> Sistema Nervioso <nav>
            </nav></label>
        <select id="Sistema Digestivo" required [(ngModel)]="mucosas" name="mucosas">
            <option>
                Normal
            </option>
            <option>
                Anormal
            </option>
            <option>
                No examinado
            </option>
        </select>
    </div>


    <div class="col-md-3">
        <label for="validationCustom04" class="mb-0"> Sistema Musculoesquelético <nav>
            </nav></label>
        <select id="Sistema Digestivo" required [(ngModel)]="mucosas" name="mucosas">
            <option>
                Normal
            </option>
            <option>
                Anormal
            </option>
            <option>
                No examinado
            </option>
        </select>
    </div>

  
    <div class="col-md-3">
        <label for="validationCustom04" class="mb-0"> Sistema Genitourinario <nav>
            </nav></label>
        <select id="Sistema Digestivo" required [(ngModel)]="mucosas" name="mucosas">
            <option>
                Normal
            </option>
            <option>
                Anormal
            </option>
            <option>
                No examinado
            </option>
        </select>
    </div> 
    
    <div class="col-md-3">
        <label for="validationCustom04" class="mb-0"> Descripción de los hallazgos <nav>
            </nav></label>
        <input type="text" id="Sistema Digestivo" required [(ngModel)]="mucosas" name="mucosas">
            
        
    </div>  

</div>