<div>&nbsp;Datos de la Mascota </div>
<div class="row g-4">
    <div class="col-md-2">

        <label for="validationCustom05" class="mb-0">Nombre</label>
        <input type="text" class="form-control" id="validationnPerro" required [(ngModel)]="imageGen.nombreMascota"
            name="nombremascota">
        <div class="invalid-feedback">
            Please provide a valid zip.
        </div>
    </div>

    <div class="col-md-2">
        <label for="validationCustom04" class="mb-0">Especie</label>
        <select class="form-select" id="validationCustom04" (change)="seleccionaEspecie()" required
            [(ngModel)]="imageGen.especie" name="especie">
            <option selected disabled value="">Seleccione ...</option>

            <option *ngFor="let especieXX of iEspecie;let x = index" [ngValue]="especieXX.name" class="dropdown-item">
                {{especieXX.name}}</option>
        </select>
        <div class="invalid-feedback">
            Please select a valid state.
        </div>

    </div>


    <div class="col-md-2">
        <label for="validationCustom04" class="mb-0">Sexo</label>
        <select class="form-select" id="validationCustom04" required [(ngModel)]="imageGen.sexo" name="sexo">
            <option selected disabled value="">Seleccione ...</option>
            <option>Macho</option>
            <option>Hembra</option>

        </select>
        <div class="invalid-feedback">
            Please select a valid state.
        </div>

    </div>

    <div class="col-md-2">
        <label for="validationCustom04" class="mb-0">Raza</label>
        <select class="form-select" id="validationCustom04" required [(ngModel)]="imageGen.raza" name="raza">
            <option selected disabled value="">Seleccione ...</option>
            <option>Pastor Aleman</option>
            <option>Dachshund</option>
            <option>Boxer</option>
            <option *ngFor="let razaXX of iRaza;let x = index" [ngValue]="razaXX" class="dropdown-item">
                {{razaXX.nombre}}</option>
        </select>
        <div class="invalid-feedback">
            Please select a valid state.
        </div>
    </div>

    <div class="col-md-2">
        <label for="validationCustom04" class="mb-0">Color</label>
        <select class="form-select" id="validationCustom04" required [(ngModel)]="imageGen.color" name="color">
            <option selected disabled value="">Seleccione ...</option>
            <option>Blanco</option>
            <option>Negro</option>
            <option>Café</option>
            <option>Marron</option>
            <option>Amarillo</option>
        </select>
        <div class="invalid-feedback">
            Please select a valid state.
        </div>
    </div>


    <div class="col-md-2">
        <label for="validationCustom04" class="mb-0">Fecha de Nacimiento</label>
        <input type="date" class="form-control" id="validationnPeso" required [(ngModel)]="imageGen.fechaNacimiento"
            name="fechaNacimiento">
        <div class="invalid-feedback">
            Please select a valid state.
        </div>
    </div>

    <!-- pre>{{fechaNacimiento|json}}</pre -->

    <div class="col-md-1">
        <label for="validationCustom05" class="mb-0">Peso</label>
        <input type="text" class="form-control" id="validationnPeso" required [(ngModel)]="imageGen.peso" name="peso">
        <div class="invalid-feedback">
            Please provide a valid zip.
        </div>
    </div>

    <div class="col-md-2">
        <label for="validationCustom05" class="mb-0">Nombre Dueño</label>
        <input type="text" class="form-control" id="validationnPerro" required [(ngModel)]="imageGen.nombreDueno"
            name="nombreDueno">
        <div class="invalid-feedback">
            Please provide a valid zip.
        </div>
    </div>


    <div class="col-md-2">
        <label for="validationCustom05" class="mb-0">Cédula Dueño</label>
        <input type="text" class="form-control" id="validationnPerro" required [(ngModel)]="imageGen.cedulaDueno"
            name="nombreDueno">
        <div class="invalid-feedback">
            Please provide a valid zip.
        </div>
    </div>


    <div *ngIf="imageGen.image  === image_jpeg"  >
        <div class="col-md-4">
            <label for="validationCustom05" class="mb-0">Imagen Jpeg</label>
            <input class="form-control" type="file" (change)="onChange100($event)">


            <div class="invalid-feedback">
                Please provide a valid zip.
            </div>
        </div>

        <div class="col-md-2">
            <label for="validationCustom05" class="mb-0">&nbsp;-</label>
            <button (click)="onUpload100()" class="form-control btn btn-success">
                Cargar Imagen
            </button>
            <div class="invalid-feedback">
                Please provide a valid zip.
            </div>

        </div>
    </div>
    <div class="col-md-3">
        <label for="validationCustom05" class="mb-0">&nbsp;-</label>
        <button (click)="guardaInfoMascota()" class="form-control btn btn-primary">Guarda Información de la
            Mascota</button>

        <div class="invalid-feedback">
            Please provide a valid zip.
        </div>
    </div>


</div>


<!-- div class="text-center">
        <input class="form-control" type="file" (change)="onChange99($event)">

        <button (click)="onUpload99()" class="btn btn-success">
            Upload
        </button>
    </div   -->

<div>&nbsp;</div>
<div class="text-center">

</div>

<!-- Shareable short link of uploaded file -->
<!-- div class="container text-center jumbotron" *ngIf="shortLink">
        <h2> Visit Here</h2>
        <a href="{{shortLink}}">{{shortLink}}</a>
    </div -->

<!--Flag variable is used here-->
<!-- div class="container" *ngIf="loading">
        <h3>Loading ...</h3>
    </div  -->





<!-- img src="https://mnpb2lomnh.execute-api.us-east-2.amazonaws.com/v1/bucketsagevinok?file=pastor_01.jpeg" / -->

<div class="container-lg">
    <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
        <div class="col">
            <img [src]="imageUrl" class="img-fluid" />


        </div>
    </div>
</div>


<div>&nbsp;</div>
<!-- https://mnpb2lomnh.execute-api.us-east-2.amazonaws.com/v1/bucketsagevinok?file={{nameJpeg}}.jpeg -->

<!-- div class="container-lg">
    <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
        <div class="col">
            <img src="https://mnpb2lomnh.execute-api.us-east-2.amazonaws.com/v1/bucketsagevinok?file=9983779.jpeg"
                class="img-fluid" />
        </div>
    </div>
</div  -->