<div class="table-container">
    <button (click)="listaPropietarios()">Lista de propietarios</button>


    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="idPersonaDueno">
            <mat-header-cell *matHeaderCellDef class="table-column-100"> -- </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-100">
                <button (click)="eliminarDuenoMascota(element.idPersonaDueno)">
                    <mat-icon>delete</mat-icon>
                </button>
                &nbsp;&nbsp;
                <button (click)="editDataFormPropMascota(element.idPersonaDueno)">
                    <mat-icon>edit</mat-icon>
                </button>
                &nbsp;&nbsp;
                <button (click)="listMascotaPorPropietar(element.idPersonaDueno)">
                    <mat-icon>pets</mat-icon>
                </button>


            </mat-cell>
        </ng-container>



        <ng-container matColumnDef="nombres" sticky>
            <mat-header-cell *matHeaderCellDef class="table-column-100"> Nombres </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-100"> {{element.nombres}}
            </mat-cell>
        </ng-container>


        <ng-container matColumnDef="apellidos">
            <mat-header-cell *matHeaderCellDef class="table-column-100"> Apellidos </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-100"> {{element.apellidos}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="telefono">
            <mat-header-cell *matHeaderCellDef class="table-column-100"> Teléfono </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-100"> {{element.telefono}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="correoelectronico">
            <mat-header-cell *matHeaderCellDef class="table-column-100"> Correo Electrónico
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-100"> {{element.correoelectronico}}
            </mat-cell>
        </ng-container>


        <ng-container matColumnDef="ciudad">
            <mat-header-cell *matHeaderCellDef class="table-column-100"> Ciudad </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-100"> {{element.ciudad}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="localidad">
            <mat-header-cell *matHeaderCellDef class="table-column-100"> Localidad </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-100"> {{element.localidad}}
            </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>

    <div>
        <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
        </mat-paginator>
    </div>

</div>