<div>

    <p>dialog-mascota works!</p>

    {{ idMascota() }}

    ----------------
    log-mascota works!

    ----------------

    <!--  div class="container-lg"></div>
    <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
        <div class="col">
            <img [src]="imageUrl" class="img-fluid" />


        </div>
    </div -->

    <div>&nbsp;</div>

    <!-- {{ imageUrl }} -->
    <div class="row g-4">
        <div class="col-md-2">

            <div class="col">
                <!-- img [src]="imageUrl" class="img-fluid" / -->


            </div>

        </div>

        <div class="col-md-2">

            <label for="validationCustom05" class="mb-0">Nombre de la Mascota</label>
            {{ this.data.imageGen.nombreMascota }}

        </div>

        <div class="col-md-2">
            <label for="validationCustom04" class="mb-0">Especie</label>
            {{ this.data.imageGen.especie }}


        </div>


        <div class="col-md-2">
            <label for="validationCustom04" class="mb-0">Sexo</label>
            {{this.data.imageGen.sexo}}


        </div>




    </div>